@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

@keyframes fadeInSkill {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-skill {
  animation: fadeInSkill 0.8s ease forwards;
}

@media (max-width: 768px) {
  .animate-fade-in-skill {
    font-size: 0.8rem;
  }
}

.rotating-element {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}

.typing-effect {
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  animation: typing 4s steps(12, end), delete 3s steps(5, end) 4s infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  0%, 25% { width: 0; }
  25%, 100% { width: 12ch; }
}

@keyframes delete {
  25%, 75% { width: 12ch; }
  75%, 100% { width: 7ch; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}
